{% extends "community/base.html" %}
{% load django_bootstrap5 %}
{% block content %}
    {% bootstrap_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
    <div class="container-lg">
        <div style="padding:15px;"></div>
        <h2>Event 리스트</h2>
        <div style="padding:15px;"></div>
        <div class=".table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col" style="width: 120px">이벤트번호</th>
                    <th scope="col">이벤트 썸네일</th>
                    <th scope="col" style="width: 650px">이벤트제목</th>
                    <th scope="col" style="width: 300px">게시일자</th>
                </tr>
                </thead>
                <tbody>
                {% for events in pagenated_event_qu %}
                    <tr>
                        <th scope="row">{{ events.pk }}</th>
                        <td>
                            <a href ="{{ events.pk }}/">
                                <img src="{{ events.thumbnail_image.url }}" class="card-img-top" alt="등록한 컬럼 이미지입니다">
                            </a>
                        </td>
                        <td><a href="{{ events.pk }}/">{{ events.title }}</a></td>
                        <td><a href="{{ events.pk }}/">{{ events.created_at }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div style="padding:20px;">
        </div>
        {% if user.is_superuser %}
            <a href="new/"><button class="btn btn-success" style="float: right" >새 이벤트 작성</button></a>
            <div style="padding:30px;"></div>
        {% endif %}
        </div>
        <hr>
        <!-- 페이징처리 시작 -->
        <ul class="pagination justify-content-center">
            <!-- 이전페이지 -->
            {% if pagenated_event_qu.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ pagenated_event_qu.previous_page_number }}">이전</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
                </li>
            {% endif %}
            <!-- 페이지리스트 -->
            {% for page_number in pagenated_event_qu.paginator.page_range %}
                {% if page_number == pagenated_event_qu.number %}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            <!-- 다음페이지 -->
            {% if pagenated_event_qu.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ pagenated_event_qu.next_page_number }}">다음</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
                </li>
            {% endif %}
        </ul>
        <!-- 페이징처리 끝 -->
{% endblock %}