{% extends "search/base.html" %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css?after' %}" type="text/css">

{% block title %}Home{% endblock %}
{% block content %}
    <style>
        .box {
            width: 100%;
            height: 50%;
            margin: 40px auto;
        }

        }
    </style>
    <img src="https://media1.giphy.com/media/xuPJrZiruRQ1KRr9Ea/giphy.gif" class="img-fluid" alt="..." style="margin-left: auto; margin-right: auto; display: block;"/>
    <div class='box'>
        <form action="" method="get">
            <div class="form-search d-flex align-items-stretch mb-3 aos-init aos-animate">
                <input type="text" class="form-control" name="keyword" placeholder="Name, Brewery, Style... ">
                <button type="summit" class="btn text-white" style="background-color: #68B984"><b>search</b></button>
            </div>
        </form>
    </div>

{% endblock %}