{% extends 'search/base.html' %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">

<style>
    table, th, td {
    }
    td {
        text-align: center;
    }
</style>
{% block content %}
    <div class='row'>
        <div class='col-sm-9'>
            <form action="" method="get" class="form-search d-flex align-items-stretch mb-3 aos-init aos-animate">
                <input type="text" class="form-control" name="search" placeholder={{ keyword }}>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
            {% if not pagenated_beer_list %}

                <h3>검색 결과가 없습니다! 다른 키워드를 검색해 보는 건 어떠세요? </h3>

            {% else %}
                <h3>{{ keyword }}에 대한 검색 결과</h3>
                <hr style="line: solid 10px black;">
                {% for beer in pagenated_beer_list %}
                    <h4><a href="/search/beerprofile/{{ beer.id }}/">{{ beer.name }}</a></h4>
                    <h6>맥주 스타일: {{ beer.kind }}</h6>
                    <h6>양조장 이름: {{ beer.brewery }}</h6>
                    <h6>제조 국가: {{ beer.country }}</h6>
                    <hr style="line: solid 10px black;">
                {% endfor %}
            {% endif %}
        </div>
        <div class='col-sm-3'>

        </div>
    </div>
    <hr>
    <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if pagenated_beer_list.has_previous %}
            <li class="page_item">
                <a class="page-link" href="?keyword={{ keyword }}&page=1">처음</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?keyword={{ keyword }}&page={{ pagenated_beer_list.previous_page_number }}">이전</a>
            </li>
        {% else %}
            <li class="page_item">
                <a class="page-link" href="#">처음</a>
            </li>
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
            </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in pagenated_beer_list.paginator.page_range %}
            {% if page_start_number <= page_number and page_end_number >= page_number %}
                {% if page_number == pagenated_beer_list.number %}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="?keyword={{ keyword }}&page={{ page_number }}">{{ page_number }}</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?keyword={{ keyword }}&page={{ page_number }}">{{ page_number }}</a>
                    </li>
                {% endif %}
            {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if pagenated_beer_list.has_next %}
            <li class="page-item">
                <a class="page-link" href="?keyword={{ keyword }}&page={{ pagenated_beer_list.next_page_number }}">다음</a></li>
            <li class="page_item">
                <a class="page-link" href="?keyword={{ keyword }}&page={{ last_page_num }}">마지막</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
            </li>
            <li class="page_item">
                <a class="page-link" href="#">마지막</a>
            </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->
    <a href="{{ request.build_absolute_uri }}" style="text-decoration-line: none;">Back to top</a>
{% endblock %}