{% extends 'search/base.html' %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">

{% block content %}
    <style>
        .card-header{
            background-color: #FED049;
        }
        h2{ font-weight: 500;
            font-family: 'Kanit', sans-serif;
        }

        .star-rating {
            display: flex;
            flex-direction: row-reverse;
            font-size: 2.25rem;
            line-height: 2.5rem;
            justify-content: space-around;
            padding: 0 0.2em;
            text-align: center;
            width: 5em;
        }

        .star-rating input {
            display: none;
        }

        .star-rating label {
            -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
            -webkit-text-stroke-width: 2.3px;
            -webkit-text-stroke-color: #2b2a29;
            cursor: pointer;
        }

        .star-rating :checked ~ label {
            -webkit-text-fill-color: gold;
        }

        .star-rating label:hover,
        .star-rating label:hover ~ label {
            -webkit-text-fill-color: #fff58c;
        }
        .box {
            margin-bottom : 20px;
            padding-top : 20px;
            padding-right : 10px;
            padding-bottom: 30px;
            padding-left: 30px;
            border : 1px solid #fd9400;
            border-radius : 5px;
        }
        hr {
            height: 1px;
            background-color: black;
        }
    </style>
    <div class='row'>
        <div style="padding:20px;"></div>
        <div class='col-sm-9'>
            <h5>스타일 대분류 {{ search_details.big_kind }} >> 스타일 소분류 {{ search_details.kind }}</h5>
            <hr style="border: line 15px black;">
            <div class="row">
                <div class="box">
                    <div class='col-sm-10'>
                        <div style="padding:15px;"></div>
                        <a href="{% url "search:like" search_details.id %}">
                            {% if user in search_details.like_users.all %}
                                <i class="fa-solid fa-heart-circle-minus"> Not My Beer</i>
                            {% else %}
                                <i class="fa-solid fa-heart-circle-plus"> To My Beer</i>
                            {% endif %}
                        </a>
                        <div style="padding:5px;"></div>
                        <h2> {{ search_details.name}} </h2>
                        <div style="padding:5px;"></div>

                        <div class='col-sm-9'>
                            <table class="table table-hover">
                                <tbody>
                                <tr>
                                    <th style="width: 200px">맥주이름</th>
                                    <td>{{ search_details.name }}</td>
                                </tr>

                                <tr>
                                    <th style="width: 200px">대분류 스타일</th>
                                    <td>{{ search_details.big_kind }}</td>
                                </tr>
                                <tr>
                                    <th style="width: 200px">소분류 스타일</th>
                                    <td>{{ search_details.kind }}</td>
                                </tr>
                                <tr>
                                    <th style="width: 200px">양조장 이름</th>
                                    <td>{{ search_details.brewery }}</td>
                                </tr>
                                <tr>
                                    <th style="width: 200px">알코올 도수</th>
                                    <td>{{ search_details.abv }}%</td>
                                </tr>
                                <tr>
                                    <th style="width: 200px">판매 상태</th>
                                    <td>
                                        {% if search_details.status == 'Active' %}
                                            <h5>구매 가능</h5>
                                        {% else %}
                                            <h5>구매 불가</h5>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th style="width: 200px">평 점</th>
                                    <td> {{ search_details.average }}</td>
                                </tr>
                                </tbody>
                            </table>
                            <h5>
                                <i class="fa-solid fa-beer-mug-empty"> {{ search_details.like_count }}
                                </i></h5>
                        </div>
                    </div>
                    <img class=img-fluid src='/static/beerimg.png' alt="My Image"
                         style="float: right; width:360px; height:360px; position: absolute; left: 47.25%; top:42%;">
                </div>
            </div>
            <div style="padding:5px;"></div>
            <hr style="line: solid 10px black;">
            <div style="padding:15px;"></div>
            <div class="card mb-2">
                <div class="card-header">
                    <i class="fa fa-comment fa"></i> 맥주 리뷰
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
                            <div class="col-sm-2">
                                <div class="star-rating space-x-4 mx-auto">
                                    <input type="radio" id="5-stars" name="rating" value="5" v-model="ratings"/>
                                    <label for="5-stars" class="star pr-4">★</label>
                                    <input type="radio" id="4-stars" name="rating" value="4" v-model="ratings"/>
                                    <label for="4-stars" class="star">★</label>
                                    <input type="radio" id="3-stars" name="rating" value="3" v-model="ratings"/>
                                    <label for="3-stars" class="star">★</label>
                                    <input type="radio" id="2-stars" name="rating" value="2" v-model="ratings"/>
                                    <label for="2-stars" class="star">★</label>
                                    <input type="radio" id="1-star" name="rating" value="1" v-model="ratings" />
                                    <label for="1-star" class="star">★</label>
                                </div>
                            </div>
                            <button type="button" class="btn btn-warning" style="float: right" onClick="javascript:addReply();">리뷰 작성</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class='col-sm-3'>
            <div class="box" style="border-color: white">
                <div style="padding:5px;"></div>
                <h3>지금 보고있는 맥주가 취향저격이라면!</h3>
                <div style="padding:10px;"></div>
                <table>
                    {% for na in name_list %}
                        <tbody>
                        <tr height="92">
                            <th style="background-color: #FED049; color: white; width: 50px" >{{ forloop.counter }}</th>
                            <td><h6><a href = "/search/beerprofile/{{ na.id }}">{{ na.name }} ( {{ na.country }} )</a></h6></td>
                        </tr>
                        </tbody>
                    {% endfor %}
                </table>
                <div style="padding:10px;"></div>
                <div class="card" style="width: 265px; height: 410px">
                    <div class="card-header" style="height:40px; background-color: white">
                        <h5>AD</h5>
                    </div>
                    <img class="img-fluid" src="{% static 'kozel_dark.png' %}" alt="맥주 광고 이미지" width="250" height="430">
                    <div class="card-BODY">
                        <h6 class="card-text">코젤 다크는 다크 맥아의 독특한 혼합법을 사용한 전통 제조법으로 맥아의 향과 맛을 완벽히 보완해주어 매혹적이고 깊이 있는 갈색빛의 부드러운 카라멜 향을 선사합니다.</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}