@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alfa+Slab+One&family=Gowun+Dodum&family=Gugi&family=Hahmlet:wght@100;200;300;400;500;600;700;800;900&family=Josefin+Sans:wght@400;500&family=Jua&family=Kanit:wght@600;700&family=Lobster&family=Signika+Negative:wght@300;400;500;600;700&family=Stylish&family=Ubuntu:wght@500&display=swap');

/* link - 아직 클릭하지 않은 경우 설정 */
a:link { color: #8B4513; text-decoration: none;}
/* visited - 한번 클릭하거나 전에 클릭한 적 있을 경우 설정 */
a:visited { color: #8B4513; text-decoration: none;}
/* hover - 마우스를 해당 링크에 위치했을 경우 설정 */
a:hover { color: yellow; text-decoration: none;}

body, h3, h4, h5, h6{
  font-family: 'Gowun Dodum', sans-serif;
}

h1, h2{
  font-weight: 200;
  font-family: 'Gugi', cursive;
}

p{
  font-family: 'Hahmlet', serif;
}


body {
  background-color: white;
  font-family: 'Gowun Dodum', sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-rendering: optimizeLegibility;
}

th {
  color: #8B4513;
  background: #fafafa;
  border-bottom:1px solid #8B5927;
  font-size:20px;
  font-weight: 300;
  padding:15px;
  text-align:center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

tr {
  border-top: 1px solid #8B5927;
  border-bottom: 1px solid #8B5927;
  color: #8B5927;
  font-size:20px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

td {
  background:#fafafa;
  padding:15px;
  text-align:center;
  vertical-align:middle;
  font-weight:300;
  font-size:20px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #fafafa;
}

body, html {cursor: url(cursor2.cur), auto;}
a {cursor: url(cursor2.cur), auto}
html, body {
  margin: 0;
  padding: 0;
}